@page
@model Vika_Automate.Pages.EmploeeAdminPage.EmploeeAdminPageModel
@{
    ViewData["Title"] = "Employee Admin Panel";
}




<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
    @foreach (var item in Model.Employees.ToList())
    {
        var offCanvasRightEdit = "offCanvasRightEdit" + item.IdEmployee;
        var offCanvasLeftProduct = "offCanvasLeftProduct" + item.IdEmployee;


        <div class="card m-2">
            <!--Card Header-->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>@item.FioEmployee</h5>
                <div class="btn-group" role="group">
                    <!--Edit offCanvasRight-->
                    <button class="btn btn-success"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#@offCanvasRightEdit"
                            aria-controls="@offCanvasRightEdit">
                        Edit
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1"
                         id="@offCanvasRightEdit"
                         aria-labelledby="@offCanvasRightEdit">
                        <div class="offcanvas-header">
                            <h1 id="ariaid">@item.FioEmployee</h1>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <form asp-page-handler="update" asp-route-idEmp="@item.IdEmployee" method="post">
                                <div class="form-group">
                                    <label for="Name">Employee Name:</label>
                                    <input type="text" class="form-control" name="Name" placeholder="@item.FioEmployee" value="@item.FioEmployee">
                                </div>
                                <div class="form-group">
                                    <label for="JobTitle">Job Title:</label>
                                    <input type="text" class="form-control" name="JobTitle" placeholder="@item.JobTitle" value="@item.JobTitle">
                                </div>
                                <div class="form-group">
                                    <label for="PhoneNumber">Phone Number:</label>
                                    <input type="text" class="form-control" name="PhoneNumber" placeholder="+70000000000" value="@item.PhoneNumber">
                                </div>
                                <div class="form-group">
                                    <label for="Product">Product:</label>
                                    <select class="form-select" name="Product">
                                        <option value="@item.IdProductNavigation.IdProduct" selected>@item.IdProductNavigation.ProductName</option>
                                        @foreach (var product in Model.Products.ToList())
                                        {
                                            if (!product.ProductName.Equals(item.IdProductNavigation.ProductName))
                                            {
                                                <option value="@product.IdProduct">@product.ProductName</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="btn-toolbar m-4" role="toolbar">
                                    <div class="btn-group me-2" role="group">
                                        <button class="btn btn-success">Edit</button>
                                    </div>
                                    <div class="btn-group me-2" role="group">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card Body-->
            <div class="card-body">
                <ul class="card-text">
                    <li class="d-flex">
                        Job Title: @item.JobTitle
                    </li>
                    <li class="d-flex">
                        Phone Number: @item.PhoneNumber
                    </li>
                    <li class="d-flex">
                        <!--Product offCanvasLeft-->
                        <a data-bs-toggle="offcanvas" href="#@offCanvasLeftProduct" aria-controls="@offCanvasLeftProduct">
                            Product
                        </a>
                        <div class="offcanvas offcanvas-start" tabindex="-1"
                             id="@offCanvasLeftProduct"
                             aria-labelledby="@offCanvasLeftProduct">
                            <div class="offcanvas-header">
                                <h1 id="@offCanvasLeftProduct">Product</h1>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="m-2">
                                    <label>Manufacturer: @item.IdProductNavigation.Manufacturer</label>
                                </div>
                                <div class="m-2">
                                    <label>Product Name: @item.IdProductNavigation.ProductName</label>
                                </div>
                                <div class="m-2">
                                    <label>Vendor Code: @item.IdProductNavigation.VendorCode // Price @item.IdProductNavigation.Price</label>
                                </div>
                                <div class="btn-group me-2 m-2" role="group">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    }
    <div class="m-2">
        <form method="post" asp-page-handler="return">
            <button class="btn btn-primary">Back</button>
        </form>
    </div>
</div>