@page
@model Vika_Automate.Pages.ProductAdminPage.ProductAdminPageModel
@{
    ViewData["Title"] = "Product Admin Panel";
}


<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
    @foreach (var item in Model.Products.ToList())
    {
        var offCanvasRightEdit = "offCanvasRightEdit" + item.IdProduct;
        var offCanvasLeftAd = "offCanvasLeftAd" + item.IdProduct;
        var offCanvasLeftEmp = "offCanvasLeftEmp" + item.IdProduct;
        var offCanvasLeftProduction = "offCanvasLeftProduction" + item.IdProduct;


        <div class="card m-2">
            <!--Card Header-->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>@item.ProductName</h5>
                <div class="btn-group" role="group">
                    <!--Edit offCanvasRight-->
                    <button class="btn btn-success"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#@offCanvasRightEdit"
                            aria-controls="@offCanvasRightEdit">
                        Edit
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1"
                         id="@offCanvasRightEdit"
                         aria-labelledby="@offCanvasRightEdit">
                        <div class="offcanvas-header">
                            <h1 id="ariaid">@item.ProductName</h1>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <form asp-page-handler="update" asp-route-id="@item.IdProduct" method="post">
                                <div class="form-group">
                                    <label for="Name">Product Name:</label>
                                    <input type="text" class="form-control" name="Name" placeholder="@item.ProductName" value="@item.ProductName">
                                </div>
                                <div class="form-group">
                                    <label for="Man">Manufacture:</label>
                                    <input type="text" class="form-control" name="Man" placeholder="@item.Manufacturer" value="@item.Manufacturer">
                                </div>
                                <div class="form-group">
                                    <label for="Code">Vendor code:</label>
                                    <input type="text" class="form-control" name="Code" placeholder="@item.VendorCode" value="@item.VendorCode">
                                </div>
                                <div class="form-group">
                                    <label for="Price">Price:</label>
                                    <input type="text" class="form-control" name="Price" placeholder="@item.Price" value="@item.Price">
                                </div>
                                <div class="btn-toolbar m-4" role="toolbar">
                                    <div class="btn-group me-2" role="group">
                                        <button class="btn btn-success">Edit</button>
                                    </div>
                                    <div class="btn-group me-2" role="group">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card Body-->
            <div class="card-body">
                <ul class="card-text">
                    <li class="d-flex">
                        Manufacture: @item.Manufacturer
                    </li>
                    <li class="d-flex">
                        VendorCode: @item.VendorCode // Price: @item.Price
                    </li>
                    <li class="d-flex">
                        <!--Ad offCanvasLeft-->
                        <a data-bs-toggle="offcanvas" href="#@offCanvasLeftAd" aria-controls="@offCanvasLeftAd">
                            Advertisings
                        </a>
                        <div class="offcanvas offcanvas-start" tabindex="-1"
                             id="@offCanvasLeftAd"
                             aria-labelledby="@offCanvasLeftAd">
                            <div class="offcanvas-header">
                                <h1 id="@offCanvasLeftAd">Advertisings</h1>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                @foreach (var ad in item.Advertisings.ToList())
                                {
                                    <div class="m-2">
                                        <label>Format: @ad.AdFormat</label>
                                    </div>
                                    <div class="m-2">
                                        <label>Price: @ad.Price</label>
                                    </div>
                                }
                                <div class="btn-group me-2 m-2" role="group">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
                                </div>
                            </div>
                        </div>
                        <!--Employees offCanvasLeft-->
                        <a data-bs-toggle="offcanvas" href="#@offCanvasLeftEmp" aria-controls="@offCanvasLeftEmp">
                            Employees
                        </a>
                        <div class="offcanvas offcanvas-start" tabindex="-1"
                             id="@offCanvasLeftEmp"
                             aria-labelledby="@offCanvasLeftEmp">
                            <div class="offcanvas-header">
                                <h1 id="@offCanvasLeftEmp">Employees</h1>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                @foreach (var ad in item.Employees.ToList())
                                {
                                    <div class="m-2">
                                        <label>Name: @ad.FioEmployee</label>
                                    </div>
                                    <div class="m-2">
                                        <label>Job Title: @ad.JobTitle</label>
                                    </div>
                                    <div class="m-2">
                                        <label>Phone Number: @ad.PhoneNumber</label>
                                    </div>
                                }
                                <div class="btn-group me-2 m-2" role="group">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
                                </div>
                            </div>
                        </div>
                        <!--Production offCanvasLeft-->
                        <a data-bs-toggle="offcanvas" href="#@offCanvasLeftProduction" aria-controls="@offCanvasLeftProduction">
                            Productions
                        </a>
                        <div class="offcanvas offcanvas-start" tabindex="-1"
                             id="@offCanvasLeftProduction"
                             aria-labelledby="@offCanvasLeftProduction">
                            <div class="offcanvas-header">
                                <h1 id="@offCanvasLeftProduction">Productions</h1>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                @foreach (var ad in item.Productions.ToList())
                                {
                                    <div class="m-2">
                                        <label>City: @ad.ProductionCity</label>
                                    </div>
                                    <div class="m-2">
                                        <label>Name: @ad.NameProduction</label>
                                    </div>
                                }
                                <div class="btn-group me-2 m-2" role="group">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    }
    <div class="m-2">
        <form method="post" asp-page-handler="return">
            <button class="btn btn-primary">Back</button>
        </form>
    </div>
</div>

