@page
@model Vika_Automate.Pages.RawMaterialAdminPage.RawMaterialAdminPageModel
@{
    ViewData["Title"] = "Raw Material Admin Panel";
}

<div class="container text-center">
    <h1>@ViewData["Title"]</h1>
    @foreach (var item in Model.RawMaterials.ToList())
    {
        var offCanvasRightEdit = "offCanvasRightEdit" + item.IdRawMaterial;
        var offCanvasLeftrovider = "offCanvasLeftProvider" + item.IdRawMaterial;


        <div class="card m-2">
            <!--Card Header-->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>@item.MaterialName</h5>
                <div class="btn-group" role="group">
                    <!--Edit offCanvasRight-->
                    <button class="btn btn-success"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#@offCanvasRightEdit"
                            aria-controls="@offCanvasRightEdit">
                        Edit
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1"
                         id="@offCanvasRightEdit"
                         aria-labelledby="@offCanvasRightEdit">
                        <div class="offcanvas-header">
                            <h1 id="ariaid">@item.MaterialName</h1>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <form asp-page-handler="update" asp-route-id="@item.IdRawMaterial" method="post">
                                <div class="form-group">
                                    <label for="Name">Raw Material Name:</label>
                                    <input type="text" class="form-control" name="Name" placeholder="@item.MaterialName" value="@item.MaterialName">
                                </div>
                                <div class="form-group">
                                    <label for="Volume">Volume:</label>
                                    <input type="text" class="form-control" name="Volume" placeholder="@item.Volume" value="@item.Volume">
                                </div>
                                <div class="form-group">
                                    <label for="Price">Price:</label>
                                    <input type="text" class="form-control" name="Price" placeholder="@item.Price" value="@item.Price">
                                </div>
                                <div class="form-group">
                                    <label for="Provider">Provider:</label>
                                    <select class="form-select" name="Provider">
                                        <option value="@item.IdProviderNavigation.IdProvider" selected>@item.IdProviderNavigation.FioProvider</option>
                                        @foreach (var provider in Model.Providers.ToList())
                                        {
                                            if (!provider.FioProvider.Equals(item.IdProviderNavigation.FioProvider))
                                            {
                                                <option value="@provider.IdProvider">@provider.FioProvider</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="btn-toolbar m-4" role="toolbar">
                                    <div class="btn-group me-2" role="group">
                                        <button class="btn btn-success">Edit</button>
                                    </div>
                                    <div class="btn-group me-2" role="group">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card Body-->
            <div class="card-body">
                <ul class="card-text">
                    <li class="d-flex">
                        Volume: @item.Volume
                    </li>
                    <li class="d-flex">
                        Price: @item.Price
                    </li>
                    <li class="d-flex">
                        <!--Provider offCanvasLeft-->
                        <a data-bs-toggle="offcanvas" href="#@offCanvasLeftrovider" aria-controls="@offCanvasLeftrovider">
                            Provider
                        </a>
                        <div class="offcanvas offcanvas-start" tabindex="-1"
                             id="@offCanvasLeftrovider"
                             aria-labelledby="@offCanvasLeftrovider">
                            <div class="offcanvas-header">
                                <h1 id="@offCanvasLeftrovider">Provider</h1>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="m-2">
                                    <label>Company Name: @item.IdProviderNavigation.CompanyName</label>
                                </div>
                                <div class="m-2">
                                    <label>Provider Name: @item.IdProviderNavigation.FioProvider</label>
                                </div>
                                <div class="m-2">
                                    <label>Phone Number: @item.IdProviderNavigation.PhoneNumber</label>
                                </div>
                                <div class="btn-group me-2 m-2" role="group">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    }
    <div class="m-2">
        <form method="post" asp-page-handler="return">
            <button class="btn btn-primary">Back</button>
        </form>
    </div>
</div>

